body {
    font-family: "Josefin Sans";
}

.custom-nav {
    min-height: 100px;
}

#navHeader {
    font-size: 2em;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#loader {
    display: none;
}

#secondHeading {
    display: none;
}

#mainBTN {
    margin-bottom: 5px;
}

.monthsBTN {
    margin: 5px 0px;
}

.monthsBTN {
    display: none;
}

.hiddenbtn {
    display: none;
}
